.container {
    position: relative;
    z-index: 0;
    display: flex;
    margin: 50px;
    color: white;
    text-shadow: 1px 1px 0px #000, -1px -1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000;
    font-size: 34px;   
    align-items: center; 
}

.titleInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.titleInfo h1 {
    width: 100%;
    text-align: center;
    color: inherit;
    font-size: 1em;
    padding: 5px 20px;
}


.genres {
    display: flex;
    margin-bottom: 5px;
}
  

.genres .genre {
    font-size: 0.5em;
    padding: 5px 20px;
    border-radius: 10px;
    margin-right: 10px;
}


.titleImage {     
    border-radius: 10px;
    cursor: zoom-in;
}


.titleButtonWrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
  
.dropdownWrapper {
    position: absolute;
    bottom: 188px;
    left: 0;
    width: 100%;
}


.titleButton {
    cursor: pointer;
    border: none;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    padding: 0.75rem 3rem;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    color: #FFF;
    font-size: 0.5em;
    font-weight: bold;
}


.titleButton:hover {   
    background-color: rgba(0,50,150,.9);
    transition: all 0.3s ease-out;
}


.dropdown {
    position: absolute;
    width: 100%;
    background-color: transparent; 
    font-weight: bold;
    padding: 10px;
    margin-bottom: 11px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    transition: all 0.3s ease-out;
  }
    
.dropdown li {
    cursor: pointer;
    list-style-type: none;
    font-size: 0.45em;
    background-color: rgba(0,50,150,.9);
    color: #FFF;
    margin-top: 0;
    padding: 0.75rem 1rem;
    border-radius: 10px;
    transition: all 0.3s ease-out;
}
    
.dropdown li:hover {
    background-color: rgba(0, 25, 75, 0.9)
}


.trailerSynopsis {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 150px;
}

.synopsis {
    width: 80%;
    font-size: 0.5em;
    margin-top: 50px;
    padding: 10px;
    color: #fff;
    text-shadow: 1px 1px 0px #000, -1px -1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000;
    border-radius: 5px;
    background-color: rgba(0,50,150,.5);
}


iframe {
    width: 80%;
    margin-top: 50px;
}  


.rickroll {
    margin-top: 100px;
    font-size: 0.5em;
    text-shadow: 1px 1px 0px #000, -1px -1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000;
    border-radius: 5px;
    background-color: rgba(0,50,150,.5);
    width: 70%;
}

.rickrollVideo {
    margin-top: 10px;
}
