.catalog {
  position: relative;
  z-index: 0;
}

.container {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 28px;
  margin: 50px 100px;
  justify-content: space-between;
  font-size: 24px;
  font-weight: bold; 
}


.container p {
  padding-top: 16px;
  text-align: center;
}


.animeSpinner {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.animeSpinner .spinner {
  width: 300px;
  height: 300px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/7d/Mangekyou_Sharingan_Madara.svg');
  animation: spin 1s ease-in-out infinite;
}

  
@keyframes spin {
  to {
    transform: rotate(360deg);
    }
}
  
.buttonFilter {
  width: 18.2%;
  cursor: pointer;
  font: inherit;
  border: none;
  text-align: left;
  padding: 10px 0 10px 15px;
  border-radius: 5px;
  background-color: rgba(0,50,150,.8);
  color: #FFF;
  margin-left: 113px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.buttonFilter:hover {
  background-color: rgba(0, 23, 68, 0.8);
}

.filterContainer {
  position: relative;
}

.filterList {
  width: 18.2%;
  position: absolute;
  top: 37px;
  left: 113px;
  padding: 15px 20px;
  background-color: rgba(0,50,150,.8);
  border-radius: 5px;
  color: #FFF;
  z-index: 2;
}

.filterList li {
  cursor: pointer;
  padding: 10px;
  transition: all 0.3s ease-out;
}

.filterList li:hover {
  background-color: rgba(0, 23, 68, 0.8);
}

.filterList li.active {
  font-weight: bold;
  background-color: rgba(0, 23, 68, 0.8);
}