.mainHeader {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
  padding: 20px;
  margin-bottom: 20px;
  top: 0;
  z-index: 1;
}

.mainHeader h1 {
  color: #FFFFFF;
  text-shadow: 1px 1px 0px #000, -1px -1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000;
  margin: 0;
  animation: flicker 1s infinite;
}

@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
  text-shadow:
  1px 1px 0px #000,
  -1px -1px 0px #000,
  1px -1px 0px #000,
  -1px 1px 0px #000;
}
20% {
  text-shadow: none;
}
55% {
  text-shadow: none;
}
}

.mainHeader div {
  display: flex;
  /* gap: 10px; */
  font-size: 0.6em;
}

.mainHeader a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1em;
}

.nav {
  display: flex;
  align-items: center;
  margin-left: 50px;
  padding: 0.75rem 3rem;
  font-weight: bold;
  gap: 60px;  
}

.nav li {
  position: relative;
  transition: all .25s ease;
}

.nav li::after {
  content: "";
  background: #ffffff;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: -8px;
  left: 0;
  transform: scaleX(0);
  transition: all .25s ease;
}

.nav li:hover::after {
  transform: scaleX(1);
}

.nav li:hover {
  text-shadow: 1px 1px 0px #000, -1px -1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000;
}

.searchbar {
  width: 400px;
  height: 40px;
  color: #ffffff;
  font-size: 0.6em;
  border-radius: 5px;
  background-color: rgba(0,50,150,.8)
}

.searchbar::placeholder {
  color: #dad2d2;
}



