.container {
  max-width: 100%;
  margin: 5px ;
  font-size: 20px;
  background-color: #669ef8;
  border: 10px solid #4782e2;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-shadow: 1px 1px 0px #000, -1px -1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000;
}

.container button {
  cursor: pointer;
  font: inherit;
  border: none;
  padding: 0.75rem 3rem;
  background-color: #669ef8;
  color: white;
  text-shadow: 1px 1px 0px #000, -1px -1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000;
}

.container button:hover,
.container button:focus {
  background-color: #4782e2;
}

.buttonContainer {
  width: 100%;
  border-bottom: 5px solid #4782e2;
}

.animeList {
  padding: 24px;
}

.animeList thead tr {
  gap: 52px;
  text-align: left;
}

.animeList tr {
  display: grid;
  grid-template-columns: 20fr 1fr 1fr;
  gap: 52px;
  padding: 24px 12px;
  font-size: 1em;
  font-weight: bold;
  color: #ffffff;
}

.tbody tr {
  display: grid;
  grid-template-columns: 20fr 1fr 1fr;
  gap: 52px;
  font-size: 1em;
  align-items: center;
}

.tbody td:first-child {
  display: flex;
  align-items: center;
}

.tbody td:first-child span {
  margin-left: 20px;
  display: inline-block;
}

.animeImage {
  height: 100px;
}

.scoreInput {
  margin-left: -20px;
}


input[type="number"] {
  appearance: none; 
  -moz-appearance: textfield;
  width: 60px;
  padding: 0px;
  border: 1px solid #4285F4; 
  border-radius: 5px; 
  text-align: center; 
  font-size: 1em; 
  outline: #4285F4;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; 
  margin: 0; 
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

li {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

span {
  color:white
}
