.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 40%;
  font-size: 24px;
}

.form label {
  font-size: 28px;
  color: #1E90FF;
  text-shadow: 1px 1px 0px #FFF, -1px -1px 0px #FFF, 1px -1px 0px #FFF, -1px 1px 0px #FFF;
  margin-bottom: 10px;
}

.form input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  font-size: 24px;
}



.form button {
  background-color: #1E90FF;
  color: #FFF;
  border: none;
  font-size: 24px;
  border-radius: 5px;
  padding: 15px 30px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.form button:hover,
.form a:hover {
  transform: scale(1.1);
}

.form button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #FFF, 0 0 0 4px #1E90FF;
}

.form button[type="submit"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.form a {
  background-color: transparent;
  color: #1E90FF;
  border: none;
  margin-top: 20px;
  font-size: 20px;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* Доданий код для анімації */
@keyframes form-animation {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.form {
  animation: form-animation 0.5s ease-in-out;
}
