

.paginateContainer {
    height: 3rem;
    /* width: 700px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 70px 120px;
    font-size: 1.5em;
    background-color: rgba(0,50,150,.8);
}

.paginateContainer li {
    cursor: pointer;
}


/* .paginateContainer li:hover {
    background-color: rgba(0, 23, 68, 0.8);
} */