.authContainer {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #072949;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 40%;
  font-size: 24px;
  animation: form-animation 0.5s ease-in-out;
  background-image: linear-gradient(
    180deg,
    hsl(240deg 100% 20%) 0%,
    hsl(225deg 100% 25%) 11%,
    hsl(218deg 100% 30%) 22%,
    hsl(212deg 100% 34%) 33%,
    hsl(208deg 100% 38%) 44%,
    hsl(203deg 100% 41%) 56%,
    hsl(199deg 100% 43%) 67%,
    hsl(195deg 100% 46%) 78%,
    hsl(192deg 100% 48%) 89%,
    hsl(188deg 100% 50%) 100%
  );
  background-clip: padding-box;
  background-origin: border-box;
}

.form div {
  width: 100%;
  text-align: center;
}

.form label {
  font-size: 24px;
  color: #1a355f;
  text-shadow: 1px 1px 0px #fff, -1px -1px 0px #fff, 1px -1px 0px #fff,
    -1px 1px 0px #fff;
  margin-bottom: 10px;
}

.form input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  font-size: 20px;
}

.form input:focus {
  /* background-color: #1a355f; */
  border-color: #0e27b4;
}

.form button {
  background-color: #1a355f;
  color: #fff;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  padding: 15px 30px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.form button:hover,
.form a:hover {
  transform: scale(1.1);
}

.form button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #1e90ff;
}

.form button[type="submit"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.form a {
  background-color: transparent;
  color: white;
  border: none;
  margin-top: 20px;
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.classes-form-control {
  margin-bottom: 1rem;
}

.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.error-text {
  color: #df4040;
  font-size: 0.8em;
  margin-top: -20px;
}

@keyframes form-animation {
  0% {
    opacity: 0;
    transform: translateY(50px);
    background-position: bottom;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    background-position: top;
  }
}
